# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
out/
.next/
.serverless/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# IDE & Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db

# File Uploads
backend/uploads/
